//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 03 17:42:45 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CD" LOCATE = SITE "N11" LEVEL 1;
COMP "CE" LOCATE = SITE "P12" LEVEL 1;
COMP "CF" LOCATE = SITE "L13" LEVEL 1;
COMP "CG" LOCATE = SITE "M12" LEVEL 1;
COMP "DP" LOCATE = SITE "N13" LEVEL 1;
COMP "AN1" LOCATE = SITE "J12" LEVEL 1;
COMP "AN2" LOCATE = SITE "M13" LEVEL 1;
COMP "AN3" LOCATE = SITE "K14" LEVEL 1;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "K3" LEVEL 1;
COMP "D" LOCATE = SITE "B4" LEVEL 1;
COMP "CA" LOCATE = SITE "L14" LEVEL 1;
COMP "CB" LOCATE = SITE "H12" LEVEL 1;
COMP "CC" LOCATE = SITE "N14" LEVEL 1;
SCHEMATIC END;

