
# PlanAhead Generated physical constraints 

NET "a" LOC = P11;
NET "b" LOC = L3;
NET "c" LOC = K3;
NET "ca" LOC = L14;
NET "cb" LOC = H12;
NET "cc" LOC = N14;
NET "cd" LOC = N11;
NET "ce" LOC = P12;
NET "cf" LOC = L13;
NET "cg" LOC = M12;
NET "d" LOC = B4;
NET "dp" LOC = N13;

NET "an0" LOC = K14;
NET "an1" LOC = M13;
NET "an2" LOC = J12;
NET "an3" LOC = F12;

