//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 03 16:49:17 2015
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "an0" LOCATE = SITE "K14" LEVEL 1;
COMP "an1" LOCATE = SITE "M13" LEVEL 1;
COMP "an2" LOCATE = SITE "J12" LEVEL 1;
COMP "an3" LOCATE = SITE "F12" LEVEL 1;
COMP "ca" LOCATE = SITE "L14" LEVEL 1;
COMP "cb" LOCATE = SITE "H12" LEVEL 1;
COMP "cc" LOCATE = SITE "N14" LEVEL 1;
COMP "cd" LOCATE = SITE "N11" LEVEL 1;
COMP "ce" LOCATE = SITE "P12" LEVEL 1;
COMP "a" LOCATE = SITE "P11" LEVEL 1;
COMP "cf" LOCATE = SITE "L13" LEVEL 1;
COMP "b" LOCATE = SITE "L3" LEVEL 1;
COMP "cg" LOCATE = SITE "M12" LEVEL 1;
COMP "c" LOCATE = SITE "K3" LEVEL 1;
COMP "d" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

